{%extends 'siteapp/base.html'%}
{%load static%}
{%block title%}Divine | Blog{%endblock%}
{%block header%}<link rel="stylesheet" type="text/css" href="{%static 'blog/css/bootstrap-social.css'%}">{%endblock%}
{%block homeactive%}{%endblock%}
{%block servicesactive%}{%endblock%}
{%block galleryactive%}{%endblock%}
{%block blogactive%}{%endblock%}
{%block contactactive%}{%endblock%}
{%block content%}
{%block navbar3%}
{%endblock%}
{%block navbar2-menubar%}
{%endblock%}

{%block login%}
<div class="container-fluid login-bg">
	<div class="row justify-content-center">
		<div class="col-md-5 rounded login-container">
			<div class="h5 login-header my-4 p-1"><span class="fa fa-sign-in"></span> Login to your account</div>
			{%if errors%}
			<div class="pb-2">
				{%for error in errors%}
				<div class="my-1 text-danger">
					{{error}}
				</div>
				{%endfor%}
			</div>
			{%endif%}
			<div>
				<form class="loginform p-1" action="" method="post">{%csrf_token%}
					<div class="input-group">
				      <div class="input-group-prepend">
				        <span class="input-group-text" id="basic-addon1"><span class="fa fa-envelope"></span></span>
				      </div>
				      <input type="email" name="email" class="form-control" placeholder="Email address" aria-label="email" aria-describedby="basic-addon1" value="{{email}}" required>
				    </div>
				    <br>
					<div class="input-group">
				      <div class="input-group-prepend">
				        <span class="input-group-text" id="basic-addon1"><span class="fa fa-key"></span></span>
				      </div>
				      <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required>
				    </div>
					<div class="d-flex justify-content-between my-5">
						<div class="">
							<button type="submit" name="login" class="btn btn-sm btn-outline-success px-4 py-2">LOG IN</button>
						</div>
						<div class="text-info mx-1">Forget password?</div>
					</div>
				</form>
				<a href="{% url 'social:begin' 'facebook' %}" class="nav-link">
					<div class="btn btn-block btn-social btn-facebook">
						<span class="fa fa-facebook"></span> Sign In With Facebook
					</div>
				</a>
				<a href="{% url 'social:begin' 'github' %}" class="nav-link">
					<div class="btn btn-block btn-social btn-github">
						<span class="fa fa-github"></span> Sign In With GitHub
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-3 login-enhancer" style="background-image: url('{%static 'blog/img/loginbackground.jpg'%}');background-position: center;background-repeat: no-repeat;">
			<div class="login-enhancer-body">
				
			</div>
			<div class="login-enhancer-desc">
				<div class="h5">New Here?</div>
				<p>Sign up and discover great amount of new oppurtunity.</p>
				<div class="my-5">
					<a href="/accounts/register/"><button class="btn btn-outline-light px-4">
						Sign Up
					</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}

{%block chatbot%}
{%endblock%}
{%block footer%}
{%endblock%}
{%endblock%}